@font-face {
    font-family: 'CenturyGothicPaneuropeanRegular';
    src: url('../fontes/century-gothic-paneuropean/CenturyGothicPaneuropeanRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-principal: #e5e5e5;
    --cor-secundario: #c9c9c9;
}

* {
    box-sizing: border-box;
    font-family: 'CenturyGothicPaneuropeanRegular';
    text-decoration: none;
}

body {
    background-color: var(--cor-principal);
    margin: 0;
}

/*---------------------*/
/*----- CABEÇALHO -----*/
/*---------------------*/
#cabecalho {
    width: 100%;
}

#parte-principal-cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo-fengari-div {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
}

#logo-fengari {
    max-width: 100px;
    max-height: 100px;
}

nav {
    width: 390px;
    max-width: 390px;
    min-width: 390px;
}

nav ul {
    flex-wrap: wrap
}

nav li {
    display: inline;
    list-style-type: none;
    flex: 1 1 95px;
}

nav li:hover {
    text-decoration: underline;
}

nav a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.div-maior-pesquisa {
    display: flex;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
}

.div-menor-pesquisa {
    background-color: var(--cor-secundario);
    border-radius: 10px;
}

.form-pesquisa {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    width: 320px;
}

.form-pesquisa input {
    background-color: transparent;
    border-style: none;
    width: 250px;
}

.form-pesquisa input:focus-visible {
    outline: none;
}

.form-pesquisa button {
    background-color: var(--cor-secundario);
    border-style: none;
    cursor: pointer;
}

#texto-secundario-cabecalho {
    background-color: var(--cor-secundario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

#texto-secundario-cabecalho h1 {
    padding: 0 0 0 30px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    margin: 0;
}

/*----------------*/
/*----- MAIN -----*/
/*----------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: auto;
}

article {
    width: 80%;
    margin-bottom: 80px;
}

article p {
    font-size: 1.1rem;
}

/*--------------*/
/*--- FOOTER ---*/
/*--------------*/
footer {
    width: 100%;
}

.top-container-footer {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-top: solid 2px #91a3b0;
    border-bottom: solid 2px #91a3b0;
}

.top-container-footer li {
    padding: 50px;
    display: inline;
}

.top-container-footer a {
    font-family: CenturyGothicPaneuropeanRegular;
    color: #8a7f8d;
    font-weight: bolder;
    font-size: 1rem;
    text-decoration: none;
}

.summer-link:hover {
    color: #e02222;
    transition: 0.5s;
}

.spring-link:hover {
    color: #27AE60;
    transition: 0.5s;
}

.autumn-link:hover {
    color: #E67E22;
    transition: 0.5s;
}

.winter-link:hover {
    color: #2980B9;
    transition: 0.5s;
}

.bottom-container-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom, #e5e5e5, #bab7b7);
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0;
    padding: 0;
}

.footer-section h4 {
    font-size: 1.2rem;
    padding: 0;
}

.footer-section li {
    list-style-type: none;
}

.footer-section a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

footer-address-table {
    width: 200px;
    font-size: 1rem;
}

.footer-section-table h4 {
    font-size: 1rem;
    padding: 0;
}

td .link-contato {
    color: black;
}

td {
    padding: 5px;
}

.direitos-reservados {
    width: 100%;
}

.direitos-reservados i {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------*/
/*----- MEDIA QUERIES -----*/
/*-------------------------*/
@media (min-width: 1500px) and (max-width: 1660px) {
    #texto-secundario-cabecalho {
        padding-right: 100px;
    }

    #banner-principal-imagem {
        width: 1400px;
        height: 900px;
    }

    #section-filtro {
        width: 1400px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 446px);
        grid-template-rows: repeat(2, 446px);
        grid-gap: 30px;
    }

    .grid-item-produto {
        padding-top: 50px;
    }

    .grid-item-produto:hover {
        width: 447px;
        height: 447px;
    }

    .descricao-produto {
        height: 140px;
    }

    .descricao-produto p {
        font-size: 1rem;
    }

    .descricao-produto p:nth-child(3) {
        text-decoration: underline;
    }

    .descricao-produto h3 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .imagem-produto {
        width: 200px;
        height: 200px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario-imagem {
        height: 400px;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        grid-template-columns: repeat(2, 700px);
        grid-template-rows: repeat(2, 500px);
    }

    .grid-item-categoria {
        width: 700px;
        height: 500px;
    }

    #cozy-image {
        width: 700px;
        height: 500px;
    }

    #performance-image {
        width: 700px;
        height: 500px;
    }

    #outdoor-image {
        width: 700px;
        height: 500px;
    }

    #legging-image {
        width: 700px;
        height: 500px;
    }

    #logo-fengari-div {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH 1500PX -----*/
/*----------------------------*/
@media (max-width: 1500px) {
    #banner-principal-imagem {
        width: 1200px;
        height: 770px;
    }

    #section-filtro {
        width: 1200px;
    }

    #section-filtro label {
        font-size: 1.1rem;
    }

    #botao-filtrar {
        font-size: 0.9rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 380px);
        grid-template-rows: repeat(2, 380px);
        grid-gap: 30px;
    }

    .grid-item-produto {
        padding-top: 20px;
    }

    .grid-item-produto:hover {
        width: 381px;
        height: 381px;
    }

    .descricao-produto {
        height: 132px;
    }

    .descricao-produto p {
        font-size: 1rem;
    }

    .descricao-produto h3 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .imagem-produto {
        width: 200px;
        height: 200px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario-imagem {
        height: 400px;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        grid-template-columns: repeat(2, 600px);
        grid-template-rows: repeat(2, 400px);
    }

    .grid-item-categoria {
        width: 600px;
        height: 400px;
    }

    #cozy-image {
        width: 600px;
        height: 400px;
    }

    #performance-image {
        width: 600px;
        height: 400px;
    }

    #outdoor-image {
        width: 600px;
        height: 400px;
    }

    #legging-image {
        width: 600px;
        height: 400px;
    }

    nav a {
        padding: 0 5px 0 5px;
        font-size: 1rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav li {
        text-align: center;
        flex: 1 1 87px;
    }

    #logo-fengari-div {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .div-maior-pesquisa {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .form-pesquisa {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        width: 230px;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH 1280PX -----*/
/*----------------------------*/
@media (max-width: 1280px) {
    #banner-principal-imagem {
        width: 1080px;
        height: 720px;
    }

    #section-filtro {
        width: 1080px;
    }

    #section-filtro h2 {
        margin: 0 0 5px 0;
    }

    #section-filtro label {
        font-size: 1.1rem;
    }

    #barra-filtro {
        display: flex;
        gap: 50px;
        padding-bottom: 5px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 340px);
        grid-template-rows: repeat(2, 340px);
    }

    .grid-item-produto:hover {
        width: 341px;
        height: 341px;
    }

    .descricao-produto {
        height: 120px;
    }

    .descricao-produto p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .descricao-produto h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imagem-produto {
        width: 180px;
        height: 180px;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        grid-template-columns: repeat(2, 540px);
        grid-template-rows: repeat(2, 380px);
    }

    .grid-item-categoria {
        width: 540px;
        height: 380px;
    }

    #cozy-image {
        width: 540px;
        height: 380px;
    }

    #performance-image {
        width: 540px;
        height: 380px;
    }

    #outdoor-image {
        width: 540px;
        height: 380px;
    }

    #legging-image {
        width: 540px;
        height: 380px;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH: 1110px-----*/
/*----------------------------*/
@media (max-width: 1110px) {
    #banner-principal-imagem {
        width: 900px;
        height: 600px;
    }

    #section-filtro {
        width: 900px;
    }

    #section-filtro h2 {
        margin: 0 0 5px 0;
    }

    #section-filtro label {
        font-size: 1rem;
    }

    #barra-filtro {
        display: flex;
        gap: 40px;
        padding-bottom: 5px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(2, 280px);
        grid-gap: 30px;
    }

    .grid-item-produto {
        padding-top: 10px;
    }

    .grid-item-produto:hover {
        width: 281px;
        height: 281px;
    }

    .descricao-produto {
        height: 100px;
    }

    .descricao-produto p {
        font-size: 0.8rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .descricao-produto p:nth-child(3) {
        text-decoration: underline;
    }

    .descricao-produto h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imagem-produto {
        width: 140px;
        height: 140px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario-imagem {
        height: 300px;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: repeat(2, 300px);
    }

    .grid-item-categoria {
        width: 450px;
        height: 300px;
        border: 0;
    }

    #cozy-image {
        width: 450px;
        height: 300px;
    }

    #performance-image {
        width: 450px;
        height: 300px;
    }

    #outdoor-image {
        width: 450px;
        height: 300px;
    }

    #legging-image {
        width: 450px;
        height: 300px;
    }

    .texto-imagem-clicavel {
        font-size: 2.8rem;
    }

    .texto-imagem-clicavel:hover {
        font-size: 2.9rem;
    }

    nav {
        width: 340px;
        max-width: 340px;
        min-width: 340px;
    }

    nav a {
        padding: 0 5px 0 5px;
        font-size: 1rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav li {
        text-align: center;
        flex: 1 1 110px;
        padding-top: 5px;
    }

    nav li:hover {
        text-decoration: underline;
    }

    #logo-fengari-div {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .div-maior-pesquisa {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .form-pesquisa {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        width: 230px;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH: 960px -----*/
/*----------------------------*/
@media(max-width: 960px) {
    main {
        margin-top: 196px;
    }

    #parte-principal-cabecalho {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    #logo-fengari-div {
        width: auto;
        max-width: auto;
        min-width: auto;
    }

    #logo-fengari {
        max-width: 80px;
        max-height: 80px;
    }

    nav {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    nav ul {
        flex-wrap: wrap;
        padding-left: 0;
    }

    nav li {
        display: inline;
        list-style-type: none;
        flex: 1 1 150px;
    }

    nav a {
        padding: 0 10px 0 10px;
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .div-maior-pesquisa {
        display: flex;
        width: 350px;
        max-width: 350px;
        min-width: 350px;
    }

    .div-menor-pesquisa {
        background-color: var(--cor-secundario);
        border-radius: 10px;
    }

    .form-pesquisa {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        width: 320px;
    }

    .form-pesquisa input {
        background-color: transparent;
        border-style: none;
        width: 250px;
    }

    .form-pesquisa input:focus-visible {
        outline: none;
    }

    .form-pesquisa button {
        background-color: var(--cor-secundario);
        border-style: none;
        cursor: pointer;
    }



    #div-maior-pesquisa {
        width: 100%;
    }

    #texto-secundario-cabecalho {
        display: none;
    }

    #banner-principal {
        width: 100%;
    }

    #banner-principal-imagem {
        margin-top: 196px;
        object-fit: cover;
        width: 100%;
        height: 450px;
    }

    #section-filtro {
        width: 720px;
    }

    #section-filtro h2 {
        margin: 0 0 5px 0;
    }

    #section-filtro label {
        font-size: 0.9rem;
    }

    #barra-filtro {
        display: flex;
        gap: 20px;
        padding-bottom: 5px;
    }

    #botao-filtrar {
        font-size: 0.9rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 345px);
        grid-template-rows: repeat(3, 345px);
        grid-gap: 30px;
    }

    .grid-item-produto {
        padding-top: 50px;
    }

    .grid-item-produto:hover {
        width: 346px;
        height: 346px;
    }

    .descricao-produto {
        height: 100px;
    }

    .descricao-produto p {
        font-size: 0.9rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .descricao-produto p:nth-child(3) {
        text-decoration: underline;
    }

    .descricao-produto h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imagem-produto {
        width: 140px;
        height: 140px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario-imagem {
        height: 300px;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        display: grid;
        grid-template-columns: 720px;
        grid-template-rows: repeat(4, 480px);
    }

    .grid-item-categoria {
        width: 720px;
        height: 480px;
    }

    #cozy-image {
        width: 720px;
        height: 480px;
    }

    #performance-image {
        width: 720px;
        height: 480px;
    }

    #outdoor-image {
        width: 720px;
        height: 480px;
    }

    #legging-image {
        width: 720px;
        height: 480px;
    }

    .texto-imagem-clicavel {
        font-size: 4rem;
    }

    .texto-imagem-clicavel:hover {
        font-size: 4.1rem;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH: 740px -----*/
/*----------------------------*/
@media(max-width: 740px) {
    #banner-principal {
        width: 100%;
    }

    #banner-principal-imagem {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    #section-filtro {
        width: 100%;
        border-radius: 0;
    }

    #section-filtro h2 {
        margin: 0 0 5px 0;
    }

    #section-filtro label {
        font-size: 0.9rem;
    }

    #barra-filtro {
        display: flex;
        gap: 20px;
        padding-bottom: 5px;
    }

    #botao-filtrar {
        font-size: 0.9rem;
    }

    nav ul {
        padding-left: 0;
    }

    nav li {
        text-align: center;
        flex: 1 1 110px;
        padding-top: 5px;
    }

    .grid-container {
        grid-template-columns: 400px;
        grid-template-rows: repeat(6, 400px);
    }

    .grid-item-produto {
        padding-top: 50px;
    }

    .grid-item-produto:hover {
        width: 401px;
        height: 401px;
    }

    .descricao-produto {
        height: 130px;
    }

    .descricao-produto p {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .descricao-produto p:nth-child(3) {
        text-decoration: underline;
    }

    .descricao-produto h3 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .imagem-produto {
        width: 200px;
        height: 200px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario {
        display: none;
    }

    #banner-secundario-imagem {
        display: none;
    }

    /*----- GRID CATEGORIAS -----*/
    .grid-container-secundario {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
    }

    .grid-item-categoria {
        width: 100%;
        height: auto;
    }

    #cozy-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #performance-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #outdoor-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #legging-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .texto-imagem-clicavel {
        font-size: 4rem;
    }

    .texto-imagem-clicavel:hover {
        font-size: 4.1rem;
    }

    .top-container-footer ul {
        padding-left: 0;
        flex-wrap: wrap;
    }

    .top-container-footer li {
        flex: 1 1 150px;
        padding: 30px;
    }

    .top-container-footer a {
        font-size: 1rem;
    }

    .bottom-container-footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-section {
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .footer-section h4 {
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }

    .footer-section ul {
        justify-content: center;
        align-items: center;
    }

    .footer-section a {
        font-size: 0.9rem;
    }

    .footer-address-table h4 {
        text-align: center;
        font-size: 0.9rem;
    }

    .footer-address-table a {
        font-size: 0.9rem;
    }
}

/*----------------------------*/
/*----- MAX-WIDTH: 580px -----*/
/*----------------------------*/
@media(max-width: 580px) {
    #banner-principal {
        width: 100%;
    }

    #banner-principal-imagem {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    #section-filtro {
        width: 100%;
    }

    #section-filtro h2 {
        margin: 0 0 5px 0;
    }

    #section-filtro label {
        font-size: 0.8rem;
    }

    #barra-filtro {
        display: flex;
        gap: 10px;
        padding-bottom: 5px;
    }

    #botao-filtrar {
        padding: 0 5px 0 5px;
        font-size: 0.8rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: repeat(3, 230px);
    }

    .grid-item-produto {
        padding-top: 20px;
    }

    .grid-item-produto:hover {
        width: 231px;
        height: 231px;
    }

    .descricao-produto {
        height: 90px;
    }

    .descricao-produto p {
        font-size: 0.8rem;
        margin: 0;

    }

    .descricao-produto p:nth-child(3) {
        text-decoration: underline;
    }

    .descricao-produto h3 {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .imagem-produto {
        width: 100px;
        height: 100px;
    }

    /*----- BANNER SECUNDÁRIO -----*/
    #banner-secundario {
        display: none;
    }

    #banner-secundario-imagem {
        display: none;
    }

    .top-container-footer ul {
        padding-left: 0;
        flex-wrap: wrap;
    }

    .top-container-footer li {
        flex: 1 1 150px;
        padding: 10px;
    }

    .top-container-footer a {
        font-size: 1rem;
    }

    .bottom-container-footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-section {
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .footer-section h4 {
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }

    .footer-section ul {
        justify-content: center;
        align-items: center;
    }

    .footer-section a {
        font-size: 0.9rem;
    }

    .footer-address-table h4 {
        text-align: center;
        font-size: 0.9rem;
    }

    .footer-address-table a {
        font-size: 0.9rem;
    }
}